OPENAI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_USERNAME=
APP_PASSWORD=
FIRECRAWL_API_KEY=
SERVER=
N8N_API_KEY=
ELEVENLABS_API_KEY=
CAL_API_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DIRECT_CONNECTION_STRING=
SUPABASE_SECRET_KEY=
RESEND_API_KEY=
RESEND_EMAIL_URL=
RESEND_FROM_EMAIL=
TWILIO_TEST_SID=
TWILIO_TEST_TOKEN_AUTH=
TWILIO_SID=
TWILIO_AUTH_TOKEN=
SCHEDULING_URL=
SCHEDULING_URL_ALIAS=
N8N_IMMEDIATE_CONFIRMATION_WEBHOOK_URL=
TEXTGRID_ACCOUNT_SID=
TEXTGRID_AUTH_TOKEN=
TEXTGRID_WEBHOOK_SECRET=
TEXTGRID_FROM_NUMBER=
TEXTGRID_SMS_URL=
VAPI_PRIVATE_KEY=
VAPI_PUBLIC_KEY=
CLOUDFLARE_API_KEY=
TRIGGER_SECRET_KEY=
